body {
    font-family: “Helvetica Regular”, Helvetica, Arial, sans-serif;
    background: linear-gradient(-90deg, #263238, #455a64) !important;
    color: white !important;
}

a {
    color: #fff;
}

a:hover {
    color: #ddd;
}

.caption {
    font-style: italic;
    font-weight: 100 !important;
    transform: scale(-1, -1);
    display: block;
}

p {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: .75em !important;
    margin-bottom: .75em !important;
}

blockquote {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2em;
}

img {
    margin: auto;
    display: block;
    max-width: 50em;
    max-height: 50em;
    transform: scaleY(-1);
    border-radius: 1em;
}
