body {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    height: 100%;
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.3)),url("theo.jpeg");
    background-size: cover;
    overflow: hidden;
}

img {
    width: 20em;
    height: 20em;
    margin: auto;
    display: block;
}

.centered {
    position: absolute;
    right: 0;
    left: 0;
    top: 25%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.centered > p {
    text-align: center;
    font-size: 4.5em;
    margin: 0;
    text-shadow: #fff 1px 1px 1px;
    color: #fff;
}

.column-container {
    margin-top: -1em;
}

.column {
    display: inline-block;
    width: 17em;
    vertical-align: top;
    padding: 0 0.25em;
}

.column > p {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
}

.column > ul {
    text-align: left;
    color: #fff;
    font-weight: 100;
}
